:root {
  /* Theme 1 */
  --brunswick-green: #034C3C;
    --brunswick-green-plus: #236C5C;
    --brunswick-green-minus: #002C1C;

  --wintry-white: #f5f5f5;
    --wintry-white-plus: #fffafa;
    --wintry-white-minus: #d5d5d5;

  --bittersweet-shimmer: #bf4f51;
    --bittersweet-shimmer-plus: #df6f71;
    --bittersweet-shimmer-minus: #9f2f31;

 /* Theme 2 */
  --maize: #fdef83ff;
  --princeton-orange: #ff950aff;
  --tigers-eye: #b86800ff;
  --dark-purple: #160f29ff;
  --rich-black: #000011ff;
}

@font-face{
  font-family: 'Futura-Condensed';
  src: url('/assets/Fonts/Futura Condensed Light.ttf') format('truetype');
}
@font-face{
  font-family: 'Futura-Condensed';
  src: url('/assets/Fonts/Futura Condensed Bold.ttf') format('truetype');
}
@font-face{
  font-family: 'Futura-Condensed';
  src: url('/assets/Fonts/Futura Condensed Medium.ttf') format('truetype');
}
@font-face{
  font-family: 'Balgruf';
  src: url('/assets/Fonts/Balgruf Italic.ttf') format('truetype');
}
@font-face{
  font-family: 'Balgruf';
  src: url('/assets/Fonts/Balgruf Medium.ttf') format('truetype');
}
@font-face{
  font-family: 'Typo3';
  src: url('/assets/Fonts/Typo3 Light.ttf') format('truetype');
}
@font-face{
  font-family: 'Typo3';
  src: url('/assets/Fonts/Typo3 Medium.ttf') format('truetype');
}
@font-face{
  font-family: 'NerdFont';
  src: url('/assets/Fonts/SymbolsNerdFont-Regular.ttf') format('truetype');
}
@font-face{
  font-family: 'NerdFont';
  src: url('/assets/Fonts/SymbolsNerdFontMono-Regular.ttf') format('truetype');
}

body{
  background-image: url();
}

/*Sets CRT effect on window*/
.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}


  StyledButton {
    font-family: 'Futura-Condensed', sans-serif;
    background-image: url('src/assets/Selector Arrows.png');
    background-size: 100% 100%;
    font-weight: 600;
    font-size: 0.875rem;
    width: 20%;
    line-height: 1;
    padding: 8px 16px;
    border-radius: 8px;
    color: white;
    transition: all 150ms ease;
    cursor: pointer;
    border: 1px solid var(--mint-500);
  }
  .StyledButton:hover {
    background-color: var(--mint-800);
  }
  .StyledButton.base--active {
    background-color: var(--mint-500);
    box-shadow: none;
    transform: scale(0.99);
  }
  .StyledButton.base--focusVisible {
    outline: none;
  }

  .order {
    display: grid;
    /* grid-template-columns: 1fr 1fr;*/
    
  }
  /* Style the tab */
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  .tabimage {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
.navbar li{
  display: inline;
}

#logo-wrapper{
  position: relative;
}

#logo{
  position: absolute;
  transform:rotate(-0.10turn);
}

footer{
  display: inline;
  position:fixed;
  bottom: 0%;
  height: 5% vh;
}