#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


 :root {
  --mint-50:  #e6f9f4;
  --mint-100: #ccf3e9;
  --mint-200: #99e7d4;
  --mint-300: #66dbbf;
  --mint-400: #33cfa9;
  --mint-500: #00be8c;
  --mint-600: #009b72;
  --mint-700: #007959;
  --mint-800: #00563f;
  --mint-900: #003326;

  --brunswick-green: #034C3C;
  --skyrim-white: #f5f5f5;
  --black-olive: #282d28;
  --bittersweet-shimmer: #bf4f51;

 }

 @font-face{
  font-family: 'Futura-Condensed';
  src: url('src/assets/Fonts/Futura Condensed Light.ttf') format('truetype');
}
@font-face{
  font-family: 'Futura-Condensed';
  src: url('src/assets/Fonts/Futura Condensed Bold.ttf') format('truetype');
}
@font-face{
  font-family: 'Futura-Condensed';
  src: url('src/assets/Fonts/Futura Condensed Medium.ttf') format('truetype');
}
@font-face{
  font-family: 'Balgruf';
  src: url('src/assets/Fonts/Balgruf Italic.ttf') format('truetype');
}
@font-face{
  font-family: 'Balgruf';
  src: url('src/assets/Fonts/Balgruf Medium.ttf') format('truetype');
}
@font-face{
  font-family: 'Typo3';
  src: url('src/assets/Fonts/Typo3 Light.ttf') format('truetype');
}
@font-face{
  font-family: 'Typo3';
  src: url('src/assets/Fonts/Typo3 Medium.ttf') format('truetype');
}
header{
  margin: auto;
  width:80%;
}

.navbar li{
  display: inline;
}
.navbar-section{

}
.navbar-link{}

.hero {
  margin: auto;
  width: 80%;
  border: 5px solid var(--primary-color);
  padding: 20px;
  background: linear-gradient(135deg, var(--bg-color2-opacity) 60%, black 100%);
  border-radius: 24px;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: url('assets/images/waterfall.gif') no-repeat center center fixed;
  background-size: cover;
  pointer-events: none;
}

/*Sets CRT effect on window*/
.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}


  StyledButton {
    font-family: 'Futura-Condensed', sans-serif;
    background-image: url('src/assets/Selector Arrows.png');
    background-size: 100% 100%;
    font-weight: 600;
    font-size: 0.875rem;
    width: 20%;
    line-height: 1;
    padding: 8px 16px;
    border-radius: 8px;
    color: white;
    transition: all 150ms ease;
    cursor: pointer;
    border: 1px solid var(--mint-500);
    box-shadow: 0 2px 1px ${
      isDarkMode ? 'rgba(0, 0, 0, 0.5)' : 'rgba(45, 45, 60, 0.2)'
    }, inset 0 1.5px 1px, inset 0 -2px 1px 'var(--mint-500);
  }
  .StyledButton:hover {
    background-color: var(--mint-800);
  }
  .StyledButton.base--active {
    background-color: 'var(--mint-500);
    box-shadow: none;
    transform: scale(0.99);
  }
  .StyledButton.base--focusVisible {
    box-shadow: 0 0 0 4px ${isDarkMode ? [300] : cyan[200]};
    outline: none;
  }
  .StyledButton.base--disabled {
    background-color: ${isDarkMode ? grey[700] : grey[200]};
    color: ${isDarkMode ? grey[200] : grey[700]};
    border: 0;
    cursor: default;
    box-shadow: none;
    transform: scale(1);



const cyan = {
  50: '#E9F8FC',
  100: '#BDEBF4',
  200: '#99D8E5',
  300: '#66BACC',
  400: '#1F94AD',
  500: '#0D5463',
  600: '#094855',
  700: '#063C47',
  800: '#043039',
  900: '#022127',
};
const grey = {
  50: '#F3F6F9',
  100: '#E5EAF2',
  200: '#DAE2ED',
  300: '#C7D0DD',
  400: '#B0B8C4',
  500: '#9DA8B7',
  600: '#6B7A90',
  700: '#434D5B',
  800: '#303740',
  900: '#1C2025',
};
