@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/*@import url('https://fonts.googleapis.com/css2?family=NTR&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-noto-sans: "Noto Sans", sans-serif;
  --font-ntr: "NTR", sans-serif;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;*/

:root {
  --font-noto-sans: "Noto Sans", sans-serif;
  --font-ntr: "NTR", sans-serif;

  /* Complementary Fonts */
  --font-merriweather: "Merriweather", serif;
  --font-noto-serif: "Noto Serif", serif;
  --font-open-sans: "Open Sans", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-pt-serif: "PT Serif", serif;

  /* Contrasting Fonts */
  --font-playfair: "Playfair Display", serif;
  --font-lora: "Lora", serif;
  --font-raleway: "Raleway", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-work-sans: "Work Sans", sans-serif;

  --bg-color1: rgb(39, 43, 40);
  --bg-color1-opacity: rgba(39, 43, 40, 0.8);
  --bg-color2: rgb(23, 27, 24);
  --bg-color2-opacity: rgba(23, 27, 24, 0.8);
  --primary-color:  rgb(0, 191, 139);
  --secondary-color: rgb(252, 252, 252);
}

h1{
  font-family: var(--font-family-2);
  color:#00bf8b
}
header{
  margin: auto;
  width:80%;
}

.navbar li{
  display: inline;
}
.navbar-section{

}
.navbar-link{}

.hero {
  margin: auto;
  width: 80%;
  border: 5px solid var(--primary-color);
  padding: 20px;
  background: linear-gradient(135deg, var(--bg-color2-opacity) 60%, black 100%);
  border-radius: 24px;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: url('assets/images/waterfall.gif') no-repeat center center fixed;
  background-size: cover;
  pointer-events: none;
}

/*Sets CRT effect on window*/
.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

